/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(255, 255, 255);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("imagen.jpg.jpg");
   

}
.img2{

height: 300px;
width: 300px;
background-image: url("iimagen\ circuito.png");
background-repeat: no-repeat;
}

 .imgtec{
    
    height: 300px;
    width: 300px;
    background-image: url("circuito2.png");
    background-repeat: no-repeat;



 }